<%= javascript_pack_tag 'textdiv' %>
<div class="textdiv">
<nav>
<div class="textlogo">RubyNote</div> <div class="eye"><i class="fas fa-eye"></i></div>
</nav>
  <textarea class="codearea nice-scroll">2+2 = %codify((2+2).to_s);;</textarea>
  <div class="previewarea nice-scroll"></div>
</div>
